.section-news {
  width: 85%;
  margin: 0 auto;

  @media screen and(max-width: 500px) {
    width: 100%;
  }

  & h2 {
    font-size: 3em;
    text-transform: uppercase;
    font-family: $font1;
    letter-spacing: 2px;
  }

  .container-news-top {
    display: flex;
    margin-top: 40px;
    align-items: center;

    @media screen and(max-width: 1280px) {
      display: block;
    }

    & img {
      width: 70%;

      @media screen and(max-width: 1280px) {
        width: 100%;
      }
    }

    & .news-top-right {
      margin: 40px 20px;
      display: block;

      & .address-top p {
        color: #87709e;
        text-transform: uppercase;
        font-size: 0.8em;
        font-style: normal;
      }

      & .top-news-lien {
        text-transform: uppercase;
        font-size: 1.4em;
        font-family: $font1;
        font-weight: 500;
        color: $black;
        text-decoration: none;

        @media screen and(max-width: 500px) {
          font-size: 1em;
        }
      }

      .top-news-last-lien {
        text-decoration: none;

        .top-news-last-p {
          text-transform: uppercase;
          width: 100%;
          font-family: $font1;
          color: #797070;
          margin: 400px 0 0;
          width: 307px;
          transition: 0.5s;

          @media screen and(max-width: 1280px) {
            margin: 40px 0;
          }
          @media screen and(max-width: 500px) {
            font-size: 0.9em;
          }

          &:hover {
            transform: scale(1.1, 1.1);
          }

          & .fa-solid {
            margin: 0 15px;
          }
        }
      }
    }
  }

  .news-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;

    @media screen and(max-width: 1290px) {
        display: block;
    }

    .address-bottom {
      color: #87709e;
      text-transform: uppercase;
      font-size: 0.8em;
      font-style: normal;
      margin: 10px 30px;
      
      @media screen and(max-width: 1290px) {
        margin: 20px 25px;
    }
    }

    .news-bottom-first {
      margin: 15px;
      width: 30%;

      @media screen and(max-width: 1400px) {
        width: 100%;
    }

        & img {
        width: 100%;
      }

      .top-bottom-lien {
        text-transform: uppercase;
        font-size: 1.2em;
        font-family: $font1;
        font-weight: 600;
        color: $black;
        width: 50%;
        text-decoration: none;
        
        
        & p {
          margin-left: 25px;

          @media screen and(max-width: 1290px) {
            margin-top: -20px;
        }
        }
    }
      .bottom-last-lien {
        text-transform: uppercase;
        font-family: $font1;
        color: #797070;
        text-decoration: none;
        
        .bottom-last-p {
            width: 307px;
          margin: 30px 25px 0;
          transition: 0.5s;

          @media screen and(max-width: 1290px) {
            margin: 15px 25px 35px;
        }
        @media screen and(max-width: 350px) {
            font-size: 0.86em;
        }

          &:hover {
              transform: scale(1.1, 1.1);
        }
        
        .fa-solid {
            margin-left: 15px;
        }
        }
    }
}
    
    .news-bottom-second {
        width: 30%;
        margin-right: 15px;

        @media screen and(max-width: 1400px) {
            width: 100%;
        }
  
        & img {
          width: 100%;

        }
        
        .top-bottom-lien {
          text-transform: uppercase;
          font-size: 1.2em;
          font-family: $font1;
          font-weight: 600;
          color: $black;
          width: 50%;
          text-decoration: none;
  
          & p {
            margin-left: 25px;

            @media screen and(max-width: 1290px) {
                margin-top: -20px;
            }
          }
        }
        .bottom-last-lien {
          text-transform: uppercase;
          font-family: $font1;
          color: #797070;
          text-decoration: none;
  
          .bottom-last-p {
            width: 307px;
            margin: 30px 25px 0;
            transition: 0.5s;

            @media screen and(max-width: 1290px) {
                margin: 15px 25px 35px;

                @media screen and(max-width: 350px) {
                    font-size: 0.9em;
                }
            }
  
            &:hover {
              transform: scale(1.1, 1.1);
            }
  
            .fa-solid {
              margin-left: 15px;
            }
          }
        }
    }

      .news-bottom-third {
        width: 30%;

        @media screen and(max-width: 1400px) {
            width: 100%;
        }

        & img {
          width: 100%;
        }
        
        .top-bottom-lien {
          text-transform: uppercase;
          font-size: 1.2em;
          font-family: $font1;
          font-weight: 600;
          color: $black;
          width: 50%;
          text-decoration: none;
  
          & p {
            margin-left: 25px;

            @media screen and(max-width: 1290px) {
                margin-top: -20px;
            }
          }
        }
        .bottom-last-lien {
          text-transform: uppercase;
          font-family: $font1;
          color: #797070;
          text-decoration: none;
  
          .bottom-last-p {
            width: 307px;
            margin: 30px 25px 0;
            transition: 0.5s;

            @media screen and(max-width: 1290px) {
                margin: 15px 25px 35px;
            }
            @media screen and(max-width: 350px) {
                font-size: 0.9em;
            }
  
            &:hover {
              transform: scale(1.1, 1.1);
            }
  
            .fa-solid {
              margin-left: 15px;
            }
          }
        }
      }
  }

  .last-news {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & a {
        text-decoration: none;
        color: #797070;
        text-transform: uppercase;
        border-top: 1px solid #797070;
        padding-top: 15px;
        transition: 0.5s;

        &:hover {
            transform: scale(1.1, 1.1);
        }

        & i {
            padding-top: 5px;
        }
    }
  }
}
