@font-face {
    font-family: "OpenSans";
    src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
}

$font1: OpenSans, serif, sans-serif;
$white: #ffffff;
$black: #000000;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}